*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	
}


#jumbo header {
	text-align: right;
	padding-top: 50px;
	padding-right: 20px;
}
.jumbotron {
	background: linear-gradient(45deg, #f2f2f2 1%, #f5f5f5 64%, #f2f2f2 97%);
	height: 100%;
	padding-bottom: 0;
	margin-bottom: 0;
	
}

#jumbo {
	background: linear-gradient(45deg, #f2f2f2 1%, #f5f5f5 64%, #f2f2f2 97%);
	border: 0.5em solid #353535;
	border-color: #353535;




}
#jumbo h1 {
	color: #353535;
	padding-right: 78px;
	padding-left: 78px;
}
#jumbo a {
	color: #353535;
}

#jumbo a:hover {
	text-decoration: none;
	color: #02709D;
}

#rowjumbo {
	width: 88%;
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 40px;
	padding-right: 40px;
}

#name {
	padding-top: 20px;
	padding-bottom: -20px;
	margin-bottom: -20px;
}

#jumbo h4 {
	padding-top: 30px;
	color: rgba(189, 187, 176, 0.8);
	padding-right: 79px;
	padding-left: 79px;
	padding-bottom: 100px;
}

#top {
	padding-top: 100px;
	padding-bottom: 100px;
}





/*#04A9B8*/



.portfolio {
	background: linear-gradient(45deg, #ffffff 1%, #f5f5f5 64%, #ffffff 97%);
	padding-bottom: 0;
	margin-bottom: 0;
}

.portfolio h1 {
	padding-top: 50px;
	margin-top: 0;
	text-align: center;
	color: #353535;
}

#navbar {
  background-color: rgba(0,0,0,0.05);
  position: fixed;
  top: -50px;
  width: 100%;
  display:block;
  transition: top 0.3s;
}

#navbar a {
  float: right;
  display: block;
  color: rgba(189, 187, 176, 0.8);
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
 background: linear-gradient(45deg, #ffffff 1%, #f5f5f5 64%, #ffffff 97%);
  color: #02709D;
}

#porli {
text-align: center;
padding-bottom: 50px;
}

#porli ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#porli h2 {
	color: #353535;
}

#porli li {
	color: rgba(189, 187, 176, 0.8);
	margin-bottom: 8px;
}


#seapic img {
	height: 60%;
	width: 80%;
	padding-bottom: 20px;
	padding-top: 20px;
}


#porimage a h1:hover {
	color: #02709D;
	text-decoration: none;
}


#porimage a:hover{
	text-decoration: none;
	text-shadow: 2px 2px #f2f2f2;
}

.portfolio hr {
	border-color: #888;
}

.portfolio h1 {
	padding-bottom: 40px;
}




.img-responsive {
	margin: auto;
}




.about {
	background: linear-gradient(45deg, #f2f2f2 1%, #f5f5f5 64%, #f2f2f2 97%);

}

.about h1 {
	padding-top: 50px;
	padding-bottom: 20px;
	margin-top: 0;
	text-align: center;
	color: #353535;
}


#par {
	text-align: justify;
	font-size: 16px;
	line-height: 30px;
	font-family: 'Montserrat', sans-serif;
}

#white {
	color: #353535;
}

#abtpic img {
	height: 250px;
	width: auto;
	opacity: 0.5;
	border-radius: 100px;
}

#abtdeets{
	padding-top: 50px;
	padding-bottom: 100px;

}

#abtdeets h1,h6 {
	font-family: 'Shadows Into Light Two', cursive;
	color: #353535;
}


#abtdeets p{
	text-align: center;
	padding-top: -2%;
	margin-top: -2%;
}

#abtdeets h1 {
	margin-bottom: 0;
	padding-bottom: 0;
}



.typewrite {
	color: #353535;
	font-family: 'Shadows Into Light Two', cursive;
}








#footer {
	text-align: center;
	color: #D2D7DF;
	background-color: #292f33;
	border-color: #292f33;
	margin-bottom: 0;
	bottom: 0;
	font-size: 20px;
	border-radius: 0;
}

#footer a {
	text-decoration: none;
	color: #f2f2f2;
}

#footer a:hover {
	background-color: #02709D;
	color: white;
	text-decoration: none;
}
.panel-footer {
	background-color: #292f33;
	border-color: #292f33;
	color: #f2f2f2;
	word-spacing: 30px;
	padding-bottom: 20px;
	border-radius: 0;
}


#footie a:hover {
	background-color: #292f33;
	color: white;
}



/*fontresponsiive*/

    

/* xs < 768 */
@media screen and (max-width: 767px) {
    body {
        font-size: 0.9em;
          		box-sizing: border-box;
    }
    #rowjumbo {
    	margin: 0;
    /*	padding: 0;*/
    	box-sizing: border-box;
    	width: 100%;
    	text-align: center;
    	padding-top: 30px;
    }
    #jumbo {
    	border: 5px solid white;
    	margin: 0 auto;
    	padding: 0;
/*    	width: 80%;*/
    		box-sizing: border-box;
    }
    #jumbo h1 {
    	font-size:2.75em;
    	padding-right: 0;
    	padding-left: 0;
    	text-align: center;
    }
    #jumbo h4{
    	font-size: 1.75em;
    	padding-left: 0;
    	padding-right: 0;
    	text-align: center;
    }
    li{
    	font-size: 1.25em;
    }
    #par {
    	font-size: 2em;
    }
    p{
    	font-size: 2em;
    }
    #abtpic {
    	margin-top: 30px;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 1em;
    }
}

/* md */
@media screen and (min-width: 992px) {
    body {
        font-size: 1.2em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.3em;
    }
}




